/*Home*/
html
{
  height: 100%;
  position: relative;
}
body
{
  font-family: 'Pacifico', 'Cursive' !important;
  padding-top: 62px;
}
.logo img
{
  margin-top: 5px;
  margin-right: 50%;
}
#sticky-footer
{
  background-color: #F8F9FA;
}
.logo img
{
  margin-top: 5px;
  margin-right: 50%;
}
@media screen and (max-width: 600px) {
  .column {
      width: 100%;
  }
}
.info
{
    margin: 0 auto;
    width: 100%;
    max-width: auto;
    height: 256px;
    padding: 0px;
    background-image: url(../img/bg_4.jpg);
    color: white;
}
.info h2
{
  text-align: center;
  padding-top: 3%;
}
.info .column
{
  font-size: 14px;
  text-align: center;
}
.info .column h2
{
  font-size: 18px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 200px;
}
.info:after {
  content: "";
  display: table;
  clear: both;
}
.services /*Услуги*/
{
  margin: 0 auto;
  width: 100%;
  max-width: auto;
  height: 512px;
  padding: 0px;
  background-image: url(../img/food.png);
}
.services h2 /*Заголовок услуг*/
{
  text-align: center;
  padding-top: 3%;
}
.services .column h2/*Текст*/
{
  text-align: center;
  font-size: 18px;
}
.services .column /*Текст*/
{
  text-align: center;
  font-size: 12px;
}
.owl-carousel
{
  background-image: url(../img/bg_1.jpg);
  height: 720px;
}
.item img
{
  max-width: 800px;
  max-height: 800px;
  padding-left: 15%;
  padding-top: 2%;
}
.item
{
  height: 720px;
  background-color: rgba(63, 63, 63, 0.315);
  color: white;
  text-align: right;
  display: flex;
}
.ctext
{
  font-size: 22px;
  text-align: right;
  margin: auto;
  padding-right: 5%;
}
/*About*/

/*Menu*/
.menubod
{
  background-image: url(../img/bg_1.jpg);
  background-repeat: no-repeat;
}



@media screen and (max-width: 600px) {
  .item
  {
    flex-direction: column;
  }
  .item__img img
  {
    padding: 45px;
  }
}
/*---------------------EXPERIMENTAL ZONE----------------------------*/