/*Home*/
html
{
  height: auto;
  position: relative;
  /*padding-top: 61px;*/
}
body
{
  font-family: 'Pacifico', 'Cursive' !important;
}
.logo img
{
  margin-top: 5px;
  margin-right: 50%;
}
.navbar
{
  width: auto;
}
#sticky-footer
{
  background-color: #F8F9FA;
  font-family: 'Comfortaa', 'Cursive' !important;
}
.logo img
{
  margin-top: 5px;
  margin-right: 50%;
}
.info
{
  width: 100%;
  max-width: auto;
  min-height: 256px;
  max-height: 512px;
  background-image: url(../img/bg_4.jpg);
  color: white;
  text-align: center;
}
.info h2
{
  text-align: center;
  padding-top: 3%;
}
#services /*Услуги*/
{
  padding-top: 3%;
  text-align: center;
  background-image: url(../img/food.png);
  width: auto;
  /*min-height: 400px;
  max-height: 1080px;*/
}
#seivices h2
{

}
#gallery
{
  /*padding-top: 3%;*/
  max-width: 100%;
  margin: 0 auto;
  min-height: 512px;
  max-height: 1080px;
  background-image: url(../img/bg_4.jpg);
}
/*Галерея*/
#gallery img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
@media (min-width: 420px) {
  #gallery img {
    max-width: 100%;
  }
}
@media (min-width: 760px) {
  #gallery img {
    max-width: 100%;
  }
}
.owl-carousel
{
  background-image: url(../img/bg_1.jpg);
  height: 720px;
}
.item img
{
  max-width: 800px;
  max-height: 800px;
  padding-left: 15%;
  padding-top: 2%;
}
.item
{
  height: 720px;
  background-color: rgba(63, 63, 63, 0.315);
  color: white;
  text-align: right;
  display: flex;
}
.ctext
{
  font-size: 22px;
  text-align: right;
  margin: auto;
  padding-right: 5%;
}
/*About*/

/*Menu*/
.menubod
{
  /*background-image: url(../img/bg_1.jpg);*/
  background-repeat: no-repeat;
  background:#e2e2e2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background:#e2e2e2;
}

@media screen and (max-width: 600px) {
  .item
  {
    flex-direction: column;
  }
  .item__img img
  {
    padding: 45px;
  }
}
/*---------------------EXPERIMENTAL ZONE----------------------------*/