body
{
  font-family: 'Josefin Sans', sans-serif;
}

@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.logo img
{
  margin-top: 5px;
  margin-right: 50%;
}
.info 
{
    margin: 0 auto;
    width: 100%;
    max-width: auto;
    height: 512px;
    padding: 0px;
    background-image: url(../img/bg_4.jpg);
    color: white;
} 
.services
{
  margin: 0 auto;
  width: 100%;
  max-width: auto;
  height: 512px;
  padding: 0px;
  background-image: url(../img/food.png);
}

.services h2
{
  text-align: center;
  padding-top: 3%;
}

.padval
{
  margin: 0 auto;
  width: 100%;
  max-width: auto;
  padding: 0 15px;
}

.owl-carousel
{
  background-image: url(../img/bg_1.jpg);
  height: 720px;
}
.item img
{
  max-width: 800px;
  max-height: 800px;
  padding-left: 15%;
  padding-top: 2%;
  
}
.item
{
  height: 720px;
  background-color: rgba(63, 63, 63, 0.315);
  color: white;
  text-align: right;
}
.ctext
{
  height: 720px;
  font-size: 25px;
  text-align: right;
  padding-right: 35%;
}

.number
{
  padding-top: 5%;
}
.adress
{

}
.time
{

}